
@{
    ViewBag.Title = "Index";
}
<div style="margin: 0 auto;">
    <a href="@Url.Action("ProductList")"><span class="admin-menu">products</span></a>
    <a href="@Url.Action("CategoryList")"><span class="admin-menu">categories</span></a>
    <a href="@Url.Action("ReviewList")"><span class="admin-menu">reviews</span></a>
</div>
